/Pertemuan_4/minggu4/nbproject/private/
/Pertemuan_4/minggu4/build/
/Pertemuan_4/tugasMingguKe4/nbproject/private/
/Pertemuan_4/tugasMingguKe4/build/
/Kuis1/Kuis1/nbproject/private/
/Kuis1/Kuis1/build/